@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.dashboard{
    position: absolute;
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    box-shadow: 0 2px 4px 1px #999;
    background-color: white;
    padding: 10px;
}

.student-inputs{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}

.student-inputs input{
    border: none;
    border-bottom: 1px solid grey;
    height: 30px;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    padding: 10px;
}

.dashboard content:focus{
    border: none;
}

.student-container{
    display: flex;
    flex-direction: row;
    margin: 10px;

}

.student-content{
    position: relative;
    left: 250px;
    margin-left: 10px;
}

.student-tag{
    display: flex;
    flex-direction: row;
}

.student-tag-pill{
    height: 25px;
    width: fit-content;
    padding: 10px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 10px;
}

.student-content h2{
    font-size: 3rem;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.student-image{
    position: absolute;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-image img{
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 50%;
    position: sticky;
    top: 0;
}

.student-info{
    padding-left: 20px;
}

.student-info p{
    margin: 10px;
    font-family: 'Raleway', sans-serif;

}

.expand{
    font-size: 5rem;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    color: gray;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.tests-hidden{
    display: none;
}
.tests-active{
    display: flex;
    flex-direction: column;
}

.tests-active p{
    margin: 2px;
}

.student-tag-search{
    padding: 10px;
    font-size: 0.95rem;
    border: 0;
    border-bottom: 1px solid grey;
}
